{% include 'ap-multilang-namespace' %}
<div class="ap-multilang-box popup-over e-scale" title="App multilanguage - apollotheme">
        <div data-toggle="dropdown" class="popup-title dropdown-toggle">
        <span class="ap-title-language">Language: </span>
             <a class="current_lang" href="#" data-lang="{{ current_lang }}">
                                <span>English</span>
                            </a>
        </div> 
    <ul class="dropdown-menu list-lang">
                <li class="item-lang">
            <a href="http://ap-cricket.myshopify.com/?preview_theme_id=169091594" class="active">
                            <span>English</span>
                        
            </a>
        </li>
            <li class="item-lang">
            <a href="http://ap-cricket.myshopify.com/?preview_theme_id=170625674" class="">
                            <span>Germany</span>
                        
            </a>
        </li>
            <li class="item-lang">
            <a href="http://ap-cricket.myshopify.com/?preview_theme_id=170625738" class="">
                            <span>France</span>
                        
            </a>
        </li>
        </ul>
    </div>