<div class="home-tiktok">
  <div class="home-tiktok__content container">
    <div class="row">
      <div class="col-xs-12 col-md-5">
        <div class="home-tiktok__text">
          <h2 class="home-tiktok__title">Síguenos en TikTok</h2>
          <p class="home-tiktok__subtitle">Aprende, diviértete y descubre el mundo que hay detrás de tus lentes.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="home-tiktok__embed">
          {{ section.settings.tiktok_embed }}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "TikTok Section",
  "settings": [
    {
      "type": "textarea",
      "id": "tiktok_embed",
      "label": "Código del widget/iframe"
    }
  ]
}
{% endschema %}
