$breakpoints: (
  "xxl": 1480px,
  "xl": 1320px,
  "lg": 1200px,
  "md": 992px,
);
$xxl: map-get($breakpoints, "xxl");
$xl: map-get($breakpoints, "xl");
$lg: map-get($breakpoints, "lg");
$md: map-get($breakpoints, "md");
//
$xxl-1: calc(#{$xxl} - 1px);
$xl-1: calc(#{$xl} - 1px);
$lg-1: calc(#{$lg} - 1px);
$md-1: calc(#{$md} - 1px);

@media (min-width: 1480px) {
  .container {
    width: 1480px;
  }
}
@media (min-width: 992px) and (max-width: $lg-1) {
  .container {
    width: 100%;
  }
}

//
#header {
  // row 1
  #topbar {
    .settings {
      pointer-events: none !important;
      visibility: hidden !important;
    }

    .header-userinfo {
      li:has(> .wishlist-total) {
        display: none !important;
      }
      .wishlist-total {
        display: none !important;
      }
    }
  }
  // row 2
  #header-main {
    background-color: white !important;
    #search_block_top {
      border: 1px solid #272727;
      border-radius: 50px;
    }
    .cart-right {
      color: #272727;
      p {
        color: #272727;
      }
    }
    #CartCost {
      text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      color: #e6b800 !important;
      font-weight: 600 !important;
    }
    .zmdi-shopping-cart-plus {
      color: #272727;
    }
    .pull-left {
      color: #272727;
      > p {
        color: #272727;
      }
      h4 {
        text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        a {
          color: #e6b800 !important;
          font-weight: 600 !important;
        }
      }
    }

    .row-header {
      @media (min-width: $md) {
        display: flex;
      }
      &__col {
        @media (min-width: $md) {
          // display: flex;
          // align-items: center;
          // flex: 0 0 auto;
        }
      }
    }
  }
  // row 3
  #bottom-topnav {
    #apollo-top-menu {
      @media (min-width: $md) {
        display: flex !important;
        justify-content: center;
      }
    }
    .navbar-nav.megamenu {
      > li {
        > a {
          padding: 18px 16px;
          @media (max-width: $xxl-1) {
            padding: 18px 15px;
            font-size: 12px;
          }
          @media (max-width: $xl-1) {
            // padding: 18px 12px;
            // font-size: 11px;
            // background-color: red;
            font-size: 10px;
          }
          &:hover {
            @media (max-width: $md-1) {
              background-color: #1e1e1e;
              color: #e6b800 !important;
            }
          }
        }
      }
    }
    .btn-menu-canvas {
      @media (max-width: $md-1) {
        background-color: #1e1e1e;
        padding: 7px 12px;
        border-radius: 6px;
      }
    }
  }
}

// Menu Mobile
#off-canvas-nav {
  .navbar-nav.megamenu {
    > li {
      > a {
        &:hover {
          @media (max-width: $md-1) {
            // background-color: rgba(30, 30, 30, 0.75);
            background-color: #1e1e1e;
            color: #e6b800 !important;
          }

          + .dropdown-toggle {
            color: white;
          }
        }
      }
    }
  }
}

//
#shopify-section-slideshow {
  #Slideshow-slideshow {
    @media (min-width: $md) {
      height: 400px !important;
    }
    @media (min-width: $lg) {
      height: 500px !important;
    }
    @media (min-width: $xl) {
      // height: 700px;
    }
    @media (min-width: $xxl) {
      height: 600px !important;
    }
  }

  .mega-title--large {
    @media (min-width: $md) {
      font-size: 52px;
    }
    @media (min-width: $lg) {
      font-size: 58px;
    }
    @media (min-width: $xl) {
      font-size: 64px;
    }
    @media (min-width: $xxl) {
      font-size: 72px;
    }
  }

  .mega-subtitle--large {
    @media (min-width: $md) {
      font-size: 10px;
      line-height: 1.5;
      max-width: 470px;
      margin-left: 0;
    }
    @media (min-width: $lg) {
      // font-size: 10px;
    }
    @media (min-width: $xl) {
      // font-size: 10px;
      max-width: 100%;
    }
    @media (min-width: $xxl) {
      font-size: 12px;
    }
  }
}

// WhatsApp Chat Button
.whatsapp-chat {
  position: fixed;
  bottom: 75px;
  right: 20px;
  z-index: 9999;
  @media (max-width: $md-1) {
    right: 24px;
  }
  &__img {
    max-width: 70px;
    height: auto;
    @media (max-width: $md-1) {
      max-width: 60px;
    }
  }
}

// Footer
#footernav {
  #bank-account {
    display: none !important;
  }
}

// Collection
.category-image {
  height: 200px;
  border-radius: 3px 3px 0 0;
  margin-bottom: -1px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  .img-responsive {
    width: 100%;
    //
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
#categories_block {
  &.sidebarCategories {
    display: none !important;
  }
}

//
